name: Continuous Integration

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  test-nodejs:
    name: Node.js Tests (zen-demo-nodejs)
    runs-on: ubuntu-latest

    steps:
      - name: Checkout action
        id: checkout
        uses: actions/checkout@v4

      - name: Checkout demo app
        uses: actions/checkout@v4
        with:
          repository: Aikido-demo-apps/zen-demo-nodejs
          path: ./zen-demo
          ref: dev-testing
          submodules: recursive

      - name: Test Local Action
        id: test-action
        uses: ./
        with:
          dockerfile_path: ./zen-demo/Dockerfile
          app_port: 3000
          sleep_before_test: 15
          ignore_failures: true

  test-python:
    name: Python Tests (zen-demo-python)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout action
        id: checkout
        uses: actions/checkout@v4

      - name: Checkout demo app
        uses: actions/checkout@v4
        with:
          repository: Aikido-demo-apps/zen-demo-python
          path: ./zen-demo
          ref: gunicorn-threads-1w-4t
          submodules: recursive

      - name: Test Local Action
        id: test-action
        uses: ./
        with:
          dockerfile_path: ./zen-demo/Dockerfile
          sleep_before_test: 15
          max_parallel_tests: 5
          ignore_failures: true

  test-php:
    name: PHP Tests (zen-demo-php)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout action
        id: checkout
        uses: actions/checkout@v4

      - name: Checkout demo app
        uses: actions/checkout@v4
        with:
          repository: Aikido-demo-apps/zen-demo-php
          path: ./zen-demo
          ref: dev-testing
          submodules: recursive

      - name: Test Local Action
        id: test-action
        uses: ./
        with:
          dockerfile_path: ./zen-demo/Dockerfile
          extra_args: "--env-file=./zen-demo/.env.example -e
            APP_KEY=base64:W2v6u6VR4lURkxuMT9xZ6pdhXSt5rxsmWTbd1HGqlIM="
          extra_build_args: "--build-arg PHP_FIREWALL_VERSION=1.0.126"
          sleep_before_test: 20
          max_parallel_tests: 5
          ignore_failures: true
          test_timeout: 900 # 15 minutes
          config_update_delay: 120 # 2 minutes
          skip_tests: test_stored_ssrf,test_stored_ssrf_no_context

  test-php-control:
    name: PHP Control Tests (apache2 - mod_php)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout action
        id: checkout
        uses: actions/checkout@v4

      - name: Checkout demo app
        uses: actions/checkout@v4
        with:
          repository: Aikido-demo-apps/zen-demo-php
          path: ./zen-demo
          ref: apache-mod-php-control-server
          submodules: recursive

      - name: Test Local Action
        id: test-action
        uses: ./
        with:
          dockerfile_path: ./zen-demo/Dockerfile
          extra_args: "--env-file=./zen-demo/.env.example -e
            APP_KEY=base64:W2v6u6VR4lURkxuMT9xZ6pdhXSt5rxsmWTbd1HGqlIM="
          sleep_before_test: 20
          max_parallel_tests: 5
          ignore_failures: true
          test_type: control

  test-dotnet:
    name: Dotnet Tests (zen-demo-dotnet-core)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout action
        id: checkout
        uses: actions/checkout@v4

      - name: Checkout demo app
        uses: actions/checkout@v4
        with:
          repository: Aikido-demo-apps/zen-demo-dotnet-core
          path: ./zen-demo
          ref: fix-qa-endpoints
          submodules: recursive

      - name: Test Local Action
        id: test-action
        uses: ./
        with:
          dockerfile_path: ./zen-demo/Dockerfile
          sleep_before_test: 15
          max_parallel_tests: 5
          skip_tests: test_wave_attack,test_rate_limiting_group_id_1_minute,test_ssrf,test_api_spec,test_stored_ssrf_no_context,test_stored_ssrf
          ignore_failures: true

  test-java:
    name: Java Tests (zen-demo-java)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout action
        id: checkout
        uses: actions/checkout@v4

      - name: Checkout demo app
        uses: actions/checkout@v4
        with:
          repository: Aikido-demo-apps/zen-demo-java
          path: ./zen-demo
          ref: dev-testing
          submodules: recursive

      - name: Test Local Action
        id: test-action
        uses: ./
        with:
          dockerfile_path: ./zen-demo/Dockerfile
          sleep_before_test: 15
          max_parallel_tests: 5
          ignore_failures: true

  test-ruby:
    name: Ruby Tests (zen-demo-ruby)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout action
        id: checkout
        uses: actions/checkout@v4

      - name: Checkout demo app
        uses: actions/checkout@v4
        with:
          repository: Aikido-demo-apps/zen-demo-ruby
          path: ./zen-demo
          ref: dev-testing
          submodules: recursive

      - name: Test Local Action
        id: test-action
        uses: ./
        with:
          dockerfile_path: ./zen-demo/Dockerfile
          sleep_before_test: 30
          max_parallel_tests: 5
          ignore_failures: true
          extra_args: "-e RAILS_ENV=test -e AIKIDO_CLIENT_IP_HEADER=HTTP_X_FORWARDED_FOR"
          app_port: 3000
